<footer class="footer py-5 custom-footer">
    <div class="container">
        <div class="row">
            <!-- Social Media -->
            <div class="col-12 col-md-6 col-lg-3 mb-3 d-flex flex-column align-items-start text-start footer-section">
                <div>
                    <a href="https://www.kianolandgroup.com">
                        <img src="../assets/Kianoland Group.png" alt="Logo Kianoland Group" class="img-fluid logo-image" loading="lazy">
                    </a>
                </div>
                <div class="social-icons mb-3">
                    <a href="https://facebook.com/kianolandgroup.co.id" class="d-flex align-items-center text-decoration-none mb-2 social-link facebook-link" target="_blank" rel="noopener">
                        <div class="icon-box facebook me-2">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <span>Facebook</span>
                    </a>
                    <a href="https://tiktok.com/@naturelandkiano" class="d-flex align-items-center text-decoration-none mb-2 social-link tiktok-link" target="_blank" rel="noopener">
                        <div class="icon-box tiktok me-2">
                            <i class="fab fa-tiktok"></i>
                        </div>
                        <span>TikTok</span>
                    </a>
                    <a href="https://instagram.com/kianolandgroup" class="d-flex align-items-center text-decoration-none social-link instagram-link" target="_blank" rel="noopener">
                        <div class="icon-box instagram me-2">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <span>Instagram</span>
                    </a>                        
                </div>
            </div>
            <!-- Company Info -->
            <div class="col-12 col-md-6 col-lg-3 mb-3 footer-section">
                <p class="text-color-555"><strong>Developed By Kianoland Group</strong></p>
                <p class="custom-line-height">
                    PT. KIANO KARYA CEMERLANG<br>
                    FATTAHILLAH BERKAH ABADI<br>
                    PT. KIANOAFRI MAJU BERKARYA<br>
                    PT. KIANOAFRI MAJU BERSAMA
                </p>                             
            </div>
            <!-- Links -->
            <div class="col-12 col-md-6 col-lg-2 mb-3 footer-section">
                <p class="text-color-555"><strong>Perusahaan</strong></p>
                <ul class="list-unstyled text-dark custom-line-height">
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Tentang</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Mitra</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Marketing</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Lokasi</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-3 footer-section">
                <p class="text-color-555"><strong>Layanan</strong></p>
                <ul class="list-unstyled text-dark custom-line-height">
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Produk</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">KPR</a></li>                   
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-3 footer-section dukungan-section">
                <p class="text-color-555"><strong>Dukungan</strong></p>
                <ul class="list-unstyled text-dark custom-line-height">
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Syarat dan Ketentuan</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Kebijakan Privasi</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Ketentuan Mitra</a></li>
                    <li><a href="#" class="text-decoration-none" style="font-size: 14px;">Ketentuan Marketing</a></li>                
                </ul>
            </div>
            <div class="col-12 text-start mt-3 footer-copyright">
                <p style="font-size: 14px;">&copy; Hak Cipta © <span id="current-year"></span> - PT. Kiano Karya Cemerlang</p>
            </div>                
        </div>
    </div>
</footer>