<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} | Kianoland Group</title>
  {% include "partials/head-resources.njk" %}
</head>
<body>
  {% include "partials/header.njk" %}

  <main class="container mt-3 pt-5">

    {# tampilkan thumbnail bila ada #}
    {% if thumbnail %}
      <img src="{{ thumbnail }}" alt="{{ title }}" class="img-fluid mb-4 rounded">
    {% endif %}

    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}
  {% include "partials/scripts.njk" %}
</body>
</html>
