---
title: "Berita"
layout: layouts/base.njk
---

<div class="post-list">
  {% for post in collections.posts | reverse %}
    <div class="post">
      <a href="{{ post.url }}">
        <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
        <div class="post-content">
          <h2>{{ post.data.title }}</h2>
          <p>{{ post.data.summary }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
