<header class="py-3 fixed-top header-transparent">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://www.kianolandgroup.com">
        <img src="assets/Kianoland-Group.png" alt="Logo Kianoland Group" class="logo" loading="lazy">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">Beranda</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Lokasi</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/natureland-kiano-1">Natureland Kiano 1</a></li>
              <li><a class="dropdown-item" href="/natureland-kiano-2">Natureland Kiano 2</a></li>
              <li><a class="dropdown-item" href="/natureland-kiano-3">Natureland Kiano 3</a></li>
              <li><a class="dropdown-item" href="/green-jonggol-village">Green Jonggol Village</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/about">Tentang</a></li>
          <li class="nav-item"><a class="nav-link" href="#section_contact">Kontak</a></li>
          <li class="nav-item"><a class="nav-link" href="assets/brosur/brosur.jpg" download>Brosur</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
        </ul>
      </div>
      <!-- Responsive Menu -->
      <div id="menuToggle" class="d-lg-none menuToggle">
        <input type="checkbox" id="menuCheckbox">
        <span></span><span></span><span></span>
        <ul id="menu">
          <li><a href="/">Beranda</a></li>
          <li class="dropdown">
            <a href="#">Lokasi</a>
            <ul class="dropdown-menu">
              <li><a href="/natureland-kiano-1">Natureland Kiano 1</a></li>
              <li><a href="/natureland-kiano-2">Natureland Kiano 2</a></li>
              <li><a href="/natureland-kiano-3">Natureland Kiano 3</a></li>
              <li><a href="/green-jonggol-village">Green Jonggol Village</a></li>
            </ul>
          </li>
          <li><a href="/about">Tentang</a></li>
          <li><a href="#section_contact">Kontak</a></li>
          <li><a href="assets/brosur/brosur.jpg" download>Brosur</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
